
/* 
*******************************************************************************
*******************************************************************************
******************************BARRE DE NAVIGATION******************************
*******************************************************************************
*******************************************************************************
*/


.container {
    padding: 2rem 0rem;
  }
  
  @media (min-width: 576px){
    .modal-dialog {
      max-width: 400px;
      
      .modal-content {
        padding: 1rem;
      }
    }
  }

.navbar-brand {
  color: black !important;
}
.bg-nav {
  background-color: white;
}
.nav-link, a.dropdown-item, span.navbar-toggler-icon {
 color: black !important;
}

.taille_fa {
  font-size: 1.2rem;
}

.nav-link:hover, .dropdown-item:hover{
  color: #17a2b8 !important;
  border-radius: 3px !important;
 }
 .dropdown-item.active, .dropdown-item:active {
  background-color: #17a2b8 !important;
  color: white !important;
  border-radius: 3px !important;
 }

 span.navbar-toggler-icon {
   color: black;
 }


  .modal-header {
    .close {
      margin-top: -1.5rem;
    }
  }
  
  .form-title {
    margin: -2rem 0rem 2rem;
  }
  
  .btn-round {
    border-radius: 3rem;
  }
  
  .delimiter {
    padding: 1rem;  
  }
  
  .social-buttons {
    .btn {
      margin: 0 0.5rem 1rem;
    }
  }
  
  .signup-section {
    padding: 0.3rem 0rem;
  }

/* 
*******************************************************************************
*******************************************************************************
*************************************FOOTER************************************
*******************************************************************************
*******************************************************************************
*/
.background_footer{
background-color: white;
padding-top: 10px;
}

.text_size {
font-size: 2rem;
}


/* 
*******************************************************************************
*******************************************************************************
*************************************INDEX************************************
*******************************************************************************
*******************************************************************************
*/
.accueil {
  margin-top: 50px;
  width: 100%;
  height: 500px;
}

.marge_haute {
  margin-top: 30px;
}

#fond_accueil{
  background: url(salle_travail3.jpg) no-repeat center bottom fixed;
  background-size: cover;
}

#titre_accueil {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 0.1em 0.1em #333;
}

.para_description {
  color: white;
  font-size: 1.5rem;
  text-shadow: 0.1em 0.1em #333;
 }

 .bg-index {
   background-color: #F0F0ED;
   padding: 0 20px 20px 20px;
 }

 .couleur-star, .couleur_fa {
   color: #17a2b8;
 }

 .taille-mini {
   font-size: 0.8rem;
 }

.badge_price {
  font-weight: bold;
  border-radius: 3px; 
  padding:1px 4px;
 }

 .lien_footer, .reset_filtre {
   text-decoration: none;
   color: black;
 }

 .lien_footer:hover, .reset_filtre:hover {
  text-decoration: none;
  color:#17a2b8;
}


/* 
*******************************************************************************
*******************************************************************************
*******************************LOCATION SALLE************************************
*******************************************************************************
*******************************************************************************
*/

body, .main_bg {
  background-color: #F0F0ED !important;
}



/* 
*******************************************************************************
*******************************************************************************
*******************************PANIER************************************
*******************************************************************************
*******************************************************************************
*/
.table-bordered th, .table-bordered td, tr {
   border: 1px solid black !important;
 }



 /* 
*******************************************************************************
*******************************************************************************
*******************************FICHE PRODUIT*******************************
*******************************************************************************
*******************************************************************************
*/
.bg_fiche_produit_home {
  color: #17a2b8 !important;
  text-decoration: underline;
}

 /* 
*******************************************************************************
*******************************************************************************
*******************************CONNEXION*******************************
*******************************************************************************
*******************************************************************************
*/
.bg-connexion {
  color: #17a2b8 !important;
  font-size: 0.8rem;
}

 /* 
*******************************************************************************
*******************************************************************************
*******************************QUI SOMMES NOUS ?*******************************
*******************************************************************************
*******************************************************************************
*/
.cadre_img {
  border-radius: 5px; 
  box-shadow: 5px 5px 5px black; 
  margin-left: auto; 
  margin-right: auto;
}